
.search-bar {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: light-dark(#f2f2f2, #1F1F1F); ;
    border-radius: 15px;
    padding: 10px;
    font-size: 24px;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: light-dark(#1F1F1F, #ffffff);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
}

img {
    position: absolute;
    display: flex;
    right: 15px;
    margin: auto 0;
}




.invalid {
    border: 1px solid #FF5252;
}

p {
    color: #FF5252;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}